* {
    margin: 0px;
    padding: 0px;
}

.banner-container {
    width: 1365px;
    height: 550px;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.banner-info {

    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-left: 200px;

}

.banner-title {
    color: #272727;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 20px 0px 25px 0px;
}

.banner-button {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: white;
}
.banner-button:hover{
    color:#272727;
    cursor:pointer;
}

.banner-image {
    width: 437px;
    margin-right: 100px;
}

/* Featre section  Style */

.feature-info {
    text-align: center;
    margin: 100px 0px 50px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.feature-image1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 230px;
    height: 250px;
    padding: 50px 50px 0px 50px;

}

.feature-image2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 230px;
    height: 250px;
    padding: 50px 50px 0px 50px;
    margin: 0px 20px 0px 20px;
}

.feature-img-container {
    display: flex;
    justify-content: center;
}

.feature-image3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 230px;
    height: 250px;
    padding: 50px 50px 0px 50px;

}

.feature-title {
    margin: 0px 0px 20px 0px;
}

.feature-image-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration-line: underline;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
.feature-image-title:hover{
    cursor:pointer;
    color:whitesmoke;
    background-color: #3b3b3b;
    padding:8px;
    border-radius: 6px;
    border:none;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
}

#img-margin {
    margin: 10px 230px 0px 230px;
}

/* offer section  style */
.offer-container {
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.offer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.off {
    color: #E55473;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}

/* instagram section  style*/
.img-container {
    display: flex;
    justify-content: center;

}

.ins-image {
    width: 230px;
    height: 250px;
    margin: 10px;
}

/* customer section style */

.customer-container{
    display: flex;
    justify-content: center;
}

.customer-image{
    width: 230px;
    height: 260px;
    margin: 10px;
    
}
.customer-title{
    color: #272727;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    display:flex;
    justify-content: center;
    margin-top:70px;
    margin-bottom:20px;
}
.img-title{
    text-align: center;
    color:#3b3b3b
}

/* deals section style */
.deals-container {
    justify-content: space-around;
}

.deals-info {
    width: 990px;
    height: 300px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-size: 990px 300px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.email{
    width: 600px;
height: 40px;
border-radius: 8px;
background: #FFF;
padding-left: 15px;
margin:30px 0px 10px 0px;
border:none;

}

/* footer section */
.footer {
    width: auto;
    height: 300px;
    margin-top: 70px;
    background: #111010;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: #E55473;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 800;
   
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin:10px;
    text-align: center;
}
.shop{
    color:white;
}

.last{
    color: rgba(255, 255, 255, 0.40);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 10px;
}